:root{
    --color-pink: #F9D9EB;
    --color-blue: #3040C4;
    --color-lightblue: #00A1C6;
    --color-black: #2B292D;
    --color-white: #FFFFFF;
    --color-gray: #807F81;
    --color-lightgray: #F4F5F7;
}